.body{
    background-color: purple;
    font-family: "inter", sans-serif ;
}

.h1{
    background:yellow;
    margin: 0;
    padding:10px;
    text-align: center;
}

.p{
    color: white;
}

.inp{
    border-color: black;
    color:white;
    font-size: 20px;
    text-align: center;
}

.list{
    color: white;
}

.bta{
   background-color: #27e60e; 
   color: white;
   border-color: white;
   height: 40px;
   width: 80px;
   font-size: 16px;
}

.btl{
    background-color: #fc1303;
    color: white;
    border-color: white;
    height: 40px;
    width: 80px;
    font-size: 16px;
}

.tbl{
    fonr-color: white;
    font-size: 100px;
}