.body{
    background-color: rgb(226, 5, 199);
    font-family: "inter", sans-serif ;
}

.h1{
    background:yellow;
    margin: 0;
    padding:10px;
    text-align: center;
    border-radius: 40px;
<<<<<<< HEAD
=======
}

.p{
    color: white;
>>>>>>> 32cf94ce293f8cf0b19617c679932cdb912bbbd1
}

.inp{
    background-color: yellow;
    border-color: black;
    color:white;
<<<<<<< HEAD
    float: right;
    border-radius: 10px;
    margin: 30px;
    padding: 10px;
=======
    font-size: 20px;
    text-align: center;
    all: unset; 
}

.list{
    color: white;
>>>>>>> 32cf94ce293f8cf0b19617c679932cdb912bbbd1
}

.bta{
   background-color: #27e60e; 
   color: white;
   border-color: white;
   height: 40px;
   width: 80px;
   font-size: 16px;
}

.btl{
    background-color: #fc1303;
    color: white;
    border-color: white;
    height: 40px;
    width: 80px;
    font-size: 16px;
    text-align: left;
}

.tbl{
    background-color: yellow;
    color: black;
<<<<<<< HEAD
    font-size: 20px;
    padding:30px;
    border-radius: 10px;
    margin: 0px auto; 
    margin-top: 2%;
    width:40%; 
    border:1;
    cellspacing: 10px;
}

.topo{
    background-color: white;
    padding: 40px;
=======
    font-size: 30px;
    margin: 0;
    padding:10px;
 
>>>>>>> 32cf94ce293f8cf0b19617c679932cdb912bbbd1
}